# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz

# Logs and databases #
######################
*.log
#*.sql
*.sqlite

gitgui.cmd
temporary/
.project
.buildpath
.settings/
cameraready/
public/marketplace/
.git/
orders_pdf/
public/orders_pdf/
invoices/
user/

.externalToolBuilders/
application/settings/import_auth_mukund.php
     
igpull.cmd
cancel\ request.camrec
      
       
      
      
